:root {
  /* Base font size */

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

/* GLOBAL STYLES */
body {
  font-family: sans-serif;
  /* margin: 0; */
}
h1 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
}

/* CUSTOM FONT STYLES*/

h4.italicBlue {
  color: #60d2da;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
a.italicBlue {
  color: #60d2da;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
span.accentYellow {
  color: #f3ba40;
  font-weight: 900;
}

/* FORM OVERRIDES */
form div {
  margin: 1em;
  display: inline-block;
}
.MuiInput-underline:before {
  border-bottom: 1px solid #f3ba40 !important;
}
.MuiSelect-icon {
  color: #fff !important;
}
.greenNum {
  position: absolute;
  top: -30px;
  left: 0;
  color: #5cc87c;
  font-size: 50px;
  font-weight: 800;
  filter: drop-shadow(2px 2px 1px #000);
}
span.accentTestGreen {
  color: #5bc77b;
}
/* PARTY LOBBY */
.svgFile {
  width: 5%;
}
.svgFile svg {
  max-height: -webkit-fill-available;
  position: absolute;
  left: 0;
  bottom: 50px;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}

/* DIAGONAL LINES */
.diagonal-green:before{
  content: '';
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, #5cc87c 50%, #8dd6a600 50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

/* Display none class for disabling the button */
.displayNone {
  display: none !important;
}

/* VIDEO CONTROLS - video screen  */
.controlInner {
  position: absolute;
  right: -55px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  top: 50%;
  gap: 5px;
}
.controlInner button {
  background-color: transparent;
  box-shadow: none;
  width: 20px;
}
.controlInner button:hover {
  background-color: transparent;
  box-shadow: none;
}
.controlInner svg.MuiSvgIcon-root {
  color: #f3b940;
}

/* Participants Styles */
.team-one > div > div > video {
  border-radius: 15px;
  background-color: #5cc87c;
  padding: 10px;
}
.team-one > div > div {
  border-radius: 15px;
}
.team-two > div > div > video {
  border-radius: 15px;
  background-color: #61d1d8;
  padding: 10px;
}
.team-two > div > div {
  border-radius: 15px;
}

/* /* .makeStyles-singleVideoScreenInner-15 > div {
  border-radius: 15px;
} */
.makeStyles-singleVideoScreenInner-15 > div > video {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(243, 185, 63, 1) 0%,
    rgba(96, 210, 218, 1) 100%
  );
  padding: 10px;
} */
/* Video Host Styles */
.makeStyles-videoHost-14 > div > div {
  border-radius: 5px;
}
.makeStyles-singleVideoScreenHost-15 .agora_video_player {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(243, 185, 63, 1) 0%,
    rgb(218, 96, 96) 100%
  );
  padding: 10px;
}

/* for countdown timer ================================= */

.countDown_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 100%;
  padding: 3rem 5rem;
}

.team-one {
  background-color: #5cc87c;
}
.team-one {
  background-color: #60d2da;
}
.text {
  z-index: 99;
  padding: 1rem 3rem 2.25rem;
  border: 0.3rem solid aliceblue;

  border-radius: 2rem;
  animation: flicker 1.5s infinite alternate;
}
.countDownMin,
.countDownSec,
.countDownColon {
  top: -15px;
  font-size: 3rem;
  font-family: "Poiret One", cursive;
  font-weight: 200;
  font-style: italic;
  color: #5cc87c;
}

.countDownFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 300px;
  position: relative;
  background: #eff1f4;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.214),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.214), 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001, inset 0px 0px 0px 0px rgba(255, 255, 255, 0.214),
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px rgba(255, 255, 255, 0.214),
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}

.countDownBtn {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  border: none;
  background: #eff1f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 26px;
  color: #666;
  text-decoration: none;
}

.countDownBtn:hover {
  background: radial-gradient(circle, #0ff 0%, #e0e5ec 60%);
  color: rgba(102, 102, 102, 0.5);
  animation: colorchange 3s linear infinite;
  cursor: pointer;
}
.countDownBtn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@keyframes colorchange {
  to {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

button:hover i {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

/* socket.io temp style ================================= */

.placeHolder {
  padding: 3rem;
}
