:root {
  /* Base font size */

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

/* GLOBAL STYLES */
body {
  font-family: sans-serif;
  /* margin: 0; */
}
h1 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
}

/* CUSTOM FONT STYLES*/

h4.italicBlue {
  color: #60d2da;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
a.italicBlue {
  color: #60d2da;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
span.accentYellow {
  color: #f3ba40;
  font-weight: 900;
}

/* FORM OVERRIDES */
form div {
  margin: 1em;
  display: inline-block;
}
.MuiInput-underline:before {
  border-bottom: 1px solid #f3ba40 !important;
}
.MuiSelect-icon {
  color: #fff !important;
}
.greenNum {
  position: absolute;
  top: -30px;
  left: 0;
  color: #5cc87c;
  font-size: 50px;
  font-weight: 800;
  filter: drop-shadow(2px 2px 1px #000);
}
span.accentTestGreen {
  color: #5bc77b;
}
/* PARTY LOBBY */
.svgFile {
  width: 5%;
}
.svgFile svg {
  max-height: -webkit-fill-available;
  position: absolute;
  left: 0;
  bottom: 50px;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}

/* DIAGONAL LINES */
.diagonal-green:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, #5cc87c 50%, #8dd6a600 50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

/* Display none class for disabling the button */
.displayNone {
  display: none !important;
}

/* VIDEO CONTROLS - video screen  */
.controlInner {
  position: absolute;
  right: -55px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  top: 50%;
  gap: 5px;
}
.controlInner button {
  background-color: transparent;
  box-shadow: none;
  width: 20px;
}
.controlInner button:hover {
  background-color: transparent;
  box-shadow: none;
}
.controlInner svg.MuiSvgIcon-root {
  color: #f3b940;
}

/* Participants Styles */
.team-one-baby > div > div > video {
  border-radius: 15px;
  background-color: #5cc87c;
  padding: 10px;
}
.team-one-baby > div > div {
  border-radius: 15px;
  background-color: #5cc87c;
  padding: 10px;
  min-width: 300px;
}
.team-two-baby > div > div > video {
  border-radius: 15px;
  background-color: #61d1d8;
  padding: 10px;
}
.team-two-baby > div > div {
  border-radius: 15px;
  background-color: #61d1d8;
  padding: 10px;
  min-width: 300px;
}

/* /* .makeStyles-singleVideoScreenInner-15 > div {
  border-radius: 15px;
} */
.makeStyles-singleVideoScreenInner-15 > div > video {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(243, 185, 63, 1) 0%,
    rgba(96, 210, 218, 1) 100%
  );
  padding: 10px;
}
*/
/* Video Host Styles */
.makeStyles-videoHost-14 > div > div {
  border-radius: 5px;
}
.makeStyles-singleVideoScreenHost-15 .agora_video_player {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(243, 185, 63, 1) 0%,
    rgb(218, 96, 96) 100%
  );
  padding: 10px;
}
.team-one {
  background-color: #5cc87c;
}
.team-one {
  background-color: #60d2da;
}

/* for countdown timer ================================= */
.countDown_container {
  position: relative;
  display: grid;
  width: 15rem;
  margin: 1rem;
}
.countDown_container::before {
  border: 3px solid #6cd2d0;
  border-radius: 100%;
  animation: 1s linear infinite alternate abberation, 4s linear infinite spin;
  padding-top: 100%;
  content: "";
  position: relative;
  pointer-events: none;
  z-index: 99;
}
.countDown_container.paused::before {
  animation: none;
  transition: 0.3s transform;
}

@keyframes abberation {
  from {
    box-shadow: 0 0 0 0 #ced76b, 0 0 0 0 #56719a;
  }
  to {
    box-shadow: 0.25rem 0.125rem 0 0 #ced76b, -0.25rem -0.125rem 0 0 #56719a;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countDown_text {
  margin-top: -145px;
  font-family: "Luckiest Guy", cursive;
  font-size: 3.5rem;
}

/* ========================jello effect of count down buttons========================== */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

button:hover i {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

/* socket.io temp style ================================= */

.placeHolder {
  padding: 3rem;
}
